<!-- status-editor.component.html -->
<app-header></app-header>
<div class="flex flex-col min-h-screen items-center w-full">
    <div class="w-full bg-gray-100 p-6 rounded-lg shadow-md">
      <h1 class="text-3xl text-center font-bold">Add New Status</h1>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Status ID <sub>(fixed)</sub></label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder= {{statusID}} readonly>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Status Name:</label>
        <input type="text"
           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
           placeholder="Status Name" [(ngModel)]="statusName" (input)="checkAvailability()">
        <p *ngIf="!isAvailable" class="warning">{{statusName}} is not available</p>
        <p *ngIf="isAvailable" class="message">{{statusName}} is available</p>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2">Description: <sub>(optional)</sub></label>
        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" rows="4" placeholder="Description" [(ngModel)]="description"></textarea>
      </div>
      <div class="flex justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="submit()">Submit</button>
        <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
  