<div class="min-h-screen">
  <app-header></app-header>
  <div class="bg-slate-600 text-center text-white p-4 text-2xl font-bold">
    Taskify
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3">
    <!-- obtain all the status and iterate over them  -->
   <div  *ngFor="let status of statusList">
    <div class="column" (dragover)="onDragOver($event)" (drop) = "onDrop($event,status.name)">
      <div class="flex justify-between">
        <div class="card-title" [ngClass]="getClass(status.id)" ><span>{{status.name+" "}}</span>{{"("+(filterList(status.name).length)+")"}}</div>
        <div class="icon-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="menu">
            <button mat-menu-item (click)="editStatus(status)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <!-- <button mat-menu-item (click)="deleteStatus(status)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button> -->
          </mat-menu>
        </div>
      </div>
      <!-- display all tasks that belong to that status -->
      <div draggable="true" *ngFor="let task of filterList(status.name)" class="card" (dragstart) ="onDragStart(task)"
               (click)="navigate(task)" >{{task.title}}</div>
      <div class="flex flex-col">
        <input  class="card add-card w-full border border-black" 
        [ngModel]="taskNameMap.get(status.id)" (ngModelChange)="taskNameMap.set(status.id, $event)"placeholder="+ New">
        <div *ngIf="taskNameMap.get(status.id) !== '' " class="flex flex-col md:flex-row">
          <button (click)="addTask(status.id,taskNameMap.get(status.id))" class="bg-green-500 text-white md:w-1/2 p-2 m-2" >Add</button>
          <button (click)="resetTask(status.id,taskNameMap.get(status.id))" class="bg-red-500 text-white md:w-1/2 p-2 m-2" >Cancel</button>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>





